
.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 10px;
    width: 100%;
    height: 1000px;
  }
  

.box1{
    grid-area: 1/1/2/2;
}

.box2{
    grid-area: 1/2/2/3
}

.box3{
    grid-area: 1/3/2/4;
}

.box4{
    grid-area: 1/4/3/5;
}

.box5{
    grid-area: 1/5/2/6;
}
.box6{
    grid-area: 1/6/2/8;
}
.box7{
    grid-area: 1/8/3/9;
}
.box8{
    grid-area: 2/1/3/3;
}
.box9{
    grid-area: 2/3/4/4;
}
.box10{
    grid-area: 3/4/4/5;
}
.box11{
    grid-area: 2/5/4/7;
}
.box12{
    grid-area: 2/3/4/4;
}
.box13{
    grid-area: 2/5/4/7;
}
.box14{
    grid-area: 2/7/3/8;
}
.box15{
    grid-area: 3/1/5/3;
}
.box16{
    grid-area: 4/3/6/5;
}
.box17{
    grid-area: 4/5/6/6;
}
.box18{
    grid-area: 4/6/5/7;
}
.box19{
    grid-area: 3/7/6/9;
}
.box20{
    grid-area: 5/1/6/2;
}
.box21{
    grid-area: 5/2/6/3;
}
.img22{
    grid-area: 5/6/6/7;
}